.product-card {
  border: 1px solid var(--color-card-border);
  border-radius: 5px;
  padding: 10px;
}

.product-name {
  font-size: 12px;
  color: var(--color-font-secondary);
}

.product-value {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-font-tertiary);
}
